body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.btn-login {
  margin-right: 1rem;
}

.login-form {
  margin-left:2rem;
}

#login-title {
  margin-left: 7rem;
}

#login-btn {
  margin-left: 5rem;
}

#register-title {
  margin-left: 12rem;
}

#register-btn {
  margin-left: 13rem;
}

#profile-title {
  margin-left: 11rem;
}

#admin-title {
  margin-left: 10rem;
}

.mar-top-1rem {
    margin-top: 1rem;
}

.mar-top-2rem {
  margin-top: 2rem;
}

.cen {
  position: absolute;
  left: 39%;
  top: 15%;
}