body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.btn-login {  margin-right: 1rem; }

.login-form {  margin-left:2rem; }

#login-title { margin-left: 7rem; }

#login-btn { margin-left: 5rem; margin-top: 1rem;}

#register-title { margin-left: 12rem; }

#register-btn { margin-left: 13rem; }

#profile-title { margin-left: 11rem; }

#admin-title { margin-left: 10rem; }

.mar-top-1rem { margin-top: 1rem; }

.mar-top-2rem { margin-top: 2rem; }

.cen {
  position: absolute;
  left: 39%;
  top: 15%;
}

.article {
  border: 1px solid lightgrey;
  background-color: #f1f1f1;
  border-radius: 0.75rem;
  padding: 1rem;
}

.article-img {
  padding: 0.25rem;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}

.top-buffer { margin-top:20px; }

.input-euro {  position: relative; }

.input-euro.right input {
  padding-right:18px;
  text-align:end;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload{
  width: 100%;
}

.img-thumb {
  max-width: 100%;
  max-height: 60px;
}